<section class="section-login" (keyup.enter)="validarLogin()">
    <p class="clase-parrafo">Iniciar sesión</p>
    <label class="texto-correo" for="email">Correo electronico</label>
    <br>
    <input [(ngModel)]="email" placeholder="Ingrese su Email" type="email" id="email" (keyup.enter)="validarLogin()"> 
    <br>
    <label class="texto-password" for="password">Constraseña</label>
    <br>
    <input [(ngModel)]="password" placeholder="Ingrese su Contraseña" type="password" id="password" (keyup.enter)="validarLogin()"> 
    <br>
    <button (click)="enviarLogin()" class="boton-inicio-sesion">Iniciar sesión</button>
</section>
